<div data-ng-controller="SingleMsgCtrl">
<h1>Message</h1>
<p>Dummy data</p>
<hr />
<dl>
	<dt data-ng-binding>{{message.id}} {{message.name.first}} {{message.name.last}}</dt>
	<dd><ul>
		<li>{{message.msg.title}}</li>
		<li>{{message.msg.body}}</li>
	</ul></dd>
</dl>
<pre></pre>
<hr />
<dl>
	<dt data-ng-repeat-start="message in messages | filter:query | orderBy:orderProp">[{{message.id}}] {{message.name.first}} {{message.name.last}}</dt>
	<dd data-ng-repeat-end><ul>
		<li>{{message.msg.title}}</li>
		<li>{{message.msg.body}}</li>
	</ul></dd>
</dl>
</div>